@{
    ViewBag.Title = "About";
}

<div class="container">
    <div id="aboutmecontent">
        <h1>About Me Content</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod libero ut purus faucibus finibus. Ut urna diam, aliquam sed ullamcorper et, condimentum sed tellus. Donec odio urna, pulvinar quis ligula nec, malesuada ultricies justo. Suspendisse consequat lobortis urna sed scelerisque. Curabitur aliquam mattis suscipit. Donec posuere risus vel ex placerat, ut eleifend enim commodo. Morbi non placerat nibh, vel laoreet velit. Aliquam metus urna, pulvinar in dapibus in, facilisis id leo.

<br /><br />Suspendisse scelerisque sollicitudin scelerisque. Praesent luctus imperdiet fringilla. Maecenas et vestibulum lorem. Vestibulum sed justo diam. Proin rhoncus condimentum lorem, nec faucibus velit egestas sollicitudin. Donec quis placerat tellus. Sed ultricies ullamcorper pulvinar. Nunc eu sem massa. Morbi a libero lacus. Morbi tincidunt, enim eget ultrices semper, ante orci efficitur quam, at finibus tellus justo et libero. Curabitur nec molestie purus, id aliquam metus. Praesent ac diam ac lectus egestas lobortis sed at risus. Morbi dignissim feugiat neque sit amet dictum.</h3>
    </div>

</div>
