/*Styling for Layout STARTS*/
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    min-width: 850px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
header, footer, nav, section {
    display: block;
}
#header {
    padding: 2px 0px 2px 0px;
    width: 100%;
    height: 122px;
    background-color: #12345D;
    margin: 0 0 0 0;
}
#footer {
    background-color: #12345D;
    padding: 2px 0px 2px 0px;
    margin: 0 0 0 0;
    height: 52px;
    width: 100%;
}
#footer li {
    float: right;
    padding: 0 0 0 0;
    list-style: none;
    width: 80px;
}
#wrapper {
    margin: 0 0 0 0;
}
/*Styling for Layout ENDS*/

.container {
    position: relative;
    overflow: hidden;
    background-color: #232323;
    width: 100%;
    margin: 0px 0 0px 0;
    min-height: 593px;
}

.logo {
    float: left;
    margin: 20px 0 0 40px;
}
h1 {
    font-size: xx-large;
}
/*Styling for Nav STARTS*/
#nav ul li {
    display: inline-block;
    border: 1px solid white;
    padding: 2px 2px 2px 2px;
    margin: 50px 0 0 100px;
    clear: both;
    list-style:none;
    text-align:center;
    font-size: large;
    width: 150px;
    height: 25px;
    transition: all .5s;
}
#nav ul li:hover {
    background-color: #264970;
}
/*Styling for Nav ENDS*/



a {
    text-decoration:none;
    color: #fff;
    font-weight:400;
    transition: all .7s;
}
a:hover {
    
}
#copyright {
    float: left;
    padding: 0 0 0 15px;
    color: #fff;
}

.div1 {
    border: 0px solid black;
    display: inline-block;
    width: 100%;
    margin: 0px 0 2px 0;
    vertical-align: top;
}
.div1 img{
    float:left;
    width: 100%;
}
#frontpagebox {
    display: inline-block;
    float: left;
    border: 1px solid #fff;
    padding: 2px 2px 2px 2px;
    height: 190px;
    width: 31%;
    background-color: #232323;
    color: #fff;
    text-align: center;
    overflow: hidden;
    transition: all .5s;
    background-position-y:center;
    text-decoration:none;
    margin: 20px 5px 0 28px;
}
#frontpagebox1 {
    display: inline-block;
    float:left;
    border: 1px solid #fff;
    padding: 2px 2px 2px 2px;
    height: 190px;
    width: 31%;
    background-color: #232323;
    color: #fff;
    text-align: center;
    overflow: hidden;
    transition: all .5s;
    background-position-y:center;
    text-decoration:none;
    margin: 20px 5px 0 5px;
}
#frontpagebox2 {
    display: inline-block;
    border: 1px solid #fff;
    padding: 2px 2px 2px 2px;
    height: 190px;
    width: 31%;
    background-color: #232323;
    color: #fff;
    text-align: center;
    overflow: hidden;
    transition: all .5s;
    background-position-y:center;
    text-decoration:none;
    margin: 20px 5px 0 5px;
}
#frontpagebox:hover, #frontpagebox1:hover, #frontpagebox2:hover {
    font-size: medium;
}
#frontpagebox a:hover, #frontpagebox1 a:hover, #frontpagebox2 a:hover {
    color: #808080;
    
}
#left {
    margin: 5px 5px 5px 27%;
}
#center{
    margin: 5px 5px 5px 5px;
}
#right{
    margin: 5px 5px 5px 5px;
}
#thankyou {
    float: left;
    padding: 2px 2px 2px 2px;
    width: 200px;
    height: 120px;
    background-color: #232323;
    color: #fff;
    margin: 20px 5px 5px 10px;

}
#aboutmecontent{
    border:0px solid black;
    background-color: #232323;
    margin: 5px 5px 5px 5px;
    padding: 5px 50px 2px 50px;
    color: #fff;
    text-align: center;
}
label{
     
}

/*Contact Form Style START*/
.contactform{
    float: left;
    background-color: #232323;
    color: #fff;
    padding: 10px 10px 10px 50px;
    text-align:left;
    width: 600px;
    margin: 50px auto;
}
.input {
    padding: 2px 2px 2px 2px;
    text-align: left;
    width: 280px;
    background-position-y:center;
    text-decoration:none;
    display: inline-block;
    position:relative;
    margin: 6px 6px 6px 6px;
}
#submit {
    margin: 0 0 0 6px;
}
/*Contact Form Style END*/

/*Work page Styling START*/
.worktitle{
color: #fff;
}

.workimg {
    padding: 5px 5px 5px 5px;
}

.workimg img {
    max-height: 300px;
}
.workpage {
    float: left;
    padding: 2px 2px 20px 2px;
    width: 600px;
    text-align: center;
    margin: 20px 0 60px 80px;
}
.workpagecontent {
    float: right;
    color: white;
    padding: 2px 2px 20px 2px;
    width: 600px;
    text-align: center;
    margin: 20px 80px 5px 0;
}
.worklink {
    margin: 50px 0 0 20px;
    clear: both;
    display:inherit;
}

.topleftwork{
    text-align: center;
    float: left;
    margin-left: 320px;
}
.toprightwork {
        text-align: center;

    float: left;
}
.bottomleftwork {
        text-align: center;

    float: left;
    margin-left: 200px;

}
.bottomrightwork {
        text-align: center;

    float: left;
}
/*Work page Styling END*/


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    height: 150px;
    width: 530px;
    resize: none;
    
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

header {
    text-align:center;
}
nav {
    text-align:center;
}
/*Carousel Styles START*/
.hide{
    display:none;
}
.active {
    display: inline-block;
    clear: both;
    float: left;
    margin: 5% 5% 5% 5%;
    color: #808080;
}
.active img {
    padding: 5px 5px 5px 5px;
    max-height: 200px;
}
.carousel-next {
    display: inline-block;
    cursor:pointer;
    padding: 5px 20px 5px 20px;
    border: 1px solid #808080;
    color: #808080;
    text-align: center;
}
.carousel-next battle{
    display: inline-block;
    cursor:pointer;
    padding: 5px 20px 5px 20px;
    border: 1px solid #808080;
    color: #808080;
    text-align: center;
    margin-left: 360px;
}

.carousel {
    font-size:x-large;
}
/*Carousel Styles END*/