@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="div1">
        <img src="http://i.imgur.com/nBCyxSy.png" />
    </div>
    <a href="@Url.Action("Index", "About")">
        <div id="frontpagebox">
            <h3>About Me</h3>
            <br /><br />
            <p>Click About to learn about me.</p>
        </div>
    </a>
    <a href="@Url.Action("Index", "Work")">
    <div id="frontpagebox1">
        <h3>Work</h3>
        <br /><br />
        <p>Click Work to see my work.</p>
    </div>
    </a>
    <a href="@Url.Action("Index", "Contact")">
        <div id="frontpagebox2">
            <h3>Contact</h3>
            <br /><br />
            <p>Click Contact to contact me.</p>
        </div>
    </a>
</div>
