@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="div1">
        <img src="http://i.imgur.com/lftCm2x.png" />
    </div>
    <div id="left">
        <a href="/About"><h3>About Me</h3></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero purus, pellentesque vel imperdiet a, convallis nec tellus. Donec eu quam id libero rhoncus porta ut sit amet odio. Aliquam facilisis nunc justo, ut commodo nisl interdum sed. Duis accumsan velit nec nibh tincidunt facilisis. </p>
    </div>
    <div id="center">
        <a href="/Work"><h3>Work</h3></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero purus, pellentesque vel imperdiet a, convallis nec tellus. Donec eu quam id libero rhoncus porta ut sit amet odio. Aliquam facilisis nunc justo, ut commodo nisl interdum sed. Duis accumsan velit nec nibh tincidunt facilisis. </p>
    </div>
    <div id="right">
        <a href="/Contact"><h3>Contact</h3></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed libero purus, pellentesque vel imperdiet a, convallis nec tellus. Donec eu quam id libero rhoncus porta ut sit amet odio. Aliquam facilisis nunc justo, ut commodo nisl interdum sed. Duis accumsan velit nec nibh tincidunt facilisis. </p>
    </div>
</div>
