@{
    ViewBag.Title = "HangMan";
}
<div class="container">
    <div class="workpage">
        <h2 class="worktitle">Hangman</h2>
        <br />
        <div class="workimg"><img src="http://i.imgur.com/LdTBNG5.png" /></div>
        <br />
        <a href="https://dl-web.dropbox.com/get/Portfolio%20Site/HangmanV2.vshost.zip?_subject_uid=12602398&w=AAAlRHgXmoS4GEoL6EXWpSdCugpVBc1IDGxD3PlwCULi5w&dl=1">Click here to download and play the game!</a>
        <br />
    </div>
    <div class="workpagecontent">
        <h2 class="worktitle">Description</h2>
        <br />
        <p>This is where all the details and stuff I did to make this project goes</p>
        <br />
        <h2 class="worktitle">Challenges</h2>
        <br />
        <p>This is where all the challenges I faced while working on the project go</p>
    </div>

    <div class="worklink"><a href="@Url.Action("Index", "Work")"><h3>Go back to the Work page</h3></a></div>

</div>