@{
    ViewBag.Title = "Work";
}

<div class="container">
    <div id="work1">
        <img src="http://tinyurl.com/qeemlqf" />
        Work Sample 1
    </div>
    <div id="work2">
        <img src="http://tinyurl.com/qeemlqf" />
        Work Sample 2
    </div>
    <div id="work3">
        <img src="http://tinyurl.com/qeemlqf" />
        Work Sample 3
    </div>
    <div id="work4">
        <img src="http://tinyurl.com/qeemlqf" />
        Work Sample 4
    </div>
</div>